<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}

{% block content %}
<h1>Informações Pessoais

</h1>



<p> Meu nome é Enzo tenho 16 anos, nasci e moro em Belo Horizonte Minas Gerais, gosto de jogar assistir séries e filmes, gosto de aprender coisas novas e conhecer pessoas novas, sou uma pessoa muito comunicativa e extrovertida, gosto de fazer amizades e me relacionar com as pessoas, sou uma pessoa muito criativa e gosto de criar coisas novas, gosto de aprender coisas novas e conhecer pessoas novas, sou uma pessoa muito comunicativa e extrovertida, gosto de fazer amizades e me relacionar com as pessoas, sou uma pessoa muito criativa e gosto de criar coisas novas.
    </p>
    <p>
    

</p>

{% endblock %}