<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre a linguagem Python



{% endblock %}

{% block content %}
<h1>Informações Profissionais</h1>

<p>

    <p> Informações Pessoais
        Nome: Enzo Santos de Oliveira
        <br>
        Email: enzoliveira2052@gmail.com
        <br>
        Telefone: (31) 98613-5600
        <br>
        Experiência Profissional
        Empresa ERW Ltda
        Cargo: Desenvolvedor Python
        <br>
        Período: 01/2022 - Presente
        <br>
        Empresa UTO Corp
        Cargo: Técnico de Suporte
        <br>
        Período: 06/2020 - 12/2021
        </p>
        <p>
        
    
    </p>
</p>
{% endblock %}