<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre o Flask



{% endblock %}

{% block content %}
<h1>Expectativa de vida</h1>

<p>

    Quero me tornar um grande programador e trabalhar em uma grande empresa de tecnologia, como a Google, Microsoft ou Amazon. Quero aprender cada vez mais sobre programação e desenvolvimento de software. Quero contribuir para projetos open source e ajudar a comunidade de desenvolvedores. Quero viajar pelo mundo e conhecer novas culturas, e usar minhas habilidades de programação para resolver problemas globais e fazer a diferença no mundo.
</p>
{% endblock %}